<h1>Tasker</h1>

<table>
    <tr>
        <td>Title</td>
        <td>Start date</td>
        <td>Start time</td>
        <td>End date</td>
        <td>End time</td>
        <td>Description</td>
    <tr>

    <% @tasks.each do |task| %>
        <tr>
            <td><%= task.title %></td>
            <td><%= task.start_date %></td>
            <td><%= task.start_time.to_s[11,8] %></td>
            <td><%= task.end_date %></td>
            <td><%= task.end_time.to_s[11,8] %></td>
            <td><%= task.description.truncate(15) %></td>
            <td><%= link_to 'View/edit', edit_user_task_url(@user, task) %></td>
            <td><%= link_to 'Delete', [task.user, task], method: :delete %></td>
        </tr>
    <% end %>

    <tr>
        <%= form_with(model: [@user, @user.tasks.build], url: root_path, local: true) do |form| %>
            <td>
                <%= form.text_field :title %>
            </td>
            <td>
                <%= form.date_field :start_date %>
            </td>
            <td>
                <%= form.time_field :start_time %>
            </td>
            <td>
                <%= form.date_field :end_date %>
            </td>
            <td>
                <%= form.time_field :end_time %>
            </td>
            <td>
                <%= form.text_area :description %>
            </td>
            <td>
                <%= form.submit %>
            </td>
        <% end %>
    </tr>
</table>